<h2 class="text-center py-5 bg-black text-white">our gallary </h2>
<div class="gallary bg-black ">
    <div class="row g-3">
        <div class=" col-md-4   gallary-container position-relative overflow-hidden ">
            <img src="./assets/image/2.avif" class="img-fluid rounded-2">
            <div class="layer position-absolute text-white d-flex justify-content-center align-items-center">
                   <div class="div">
                    <h2>island</h2>
                    <a href="https://twitter.com" target="_blank" class="text-info">
                        <i class="fa-brands fa-twitter fs-5 text-center pe-2 ps-3" target="_blank"></i>
                        <i class="fa-brands fa-youtube fs-5 text-center"></i>
                    </a>
                   </div>
            </div>
        </div>
        <div class="col-md-4  gallary-container position-relative overflow-hidden">
            <img src="./assets/image/4.avif" class="img-fluid rounded-2">
            <div class="layer position-absolute text-white d-flex justify-content-center align-items-center">
                <div class="div">
                    <h2>island</h2>
                    <a href="https://twitter.com" target="_blank" class="text-info">
                        <i class="fa-brands fa-twitter fs-5 text-center pe-2 ps-3" target="_blank"></i>
                        <i class="fa-brands fa-youtube fs-5 text-center"></i>
                    </a>
                   </div>
            </div>
        </div>
        <div class="col-md-4  gallary-container position-relative overflow-hidden">
            <img src="./assets/image/5.avif" class="img-fluid rounded-2">
            <div class="layer position-absolute text-white d-flex justify-content-center align-items-center">
                <div class="div">
                    <h2>island</h2>
                    <a href="https://twitter.com" target="_blank" class="text-info">
                        <i class="fa-brands fa-twitter fs-5 text-center pe-2 ps-3" target="_blank"></i>
                        <i class="fa-brands fa-youtube fs-5 text-center"></i>
                    </a>
                   </div>
            </div>
        </div>
        <div class="col-md-4  gallary-container position-relative overflow-hidden">
            <img src="./assets/image/6.jpg" class="img-fluid rounded-2">
            <div class="layer position-absolute text-white d-flex justify-content-center align-items-center">
                <div class="div">
                    <h2>island</h2>
                    <a href="https://twitter.com" target="_blank" class="text-info">
                        <i class="fa-brands fa-twitter fs-5 text-center pe-2 ps-3" target="_blank"></i>
                        <i class="fa-brands fa-youtube fs-5 text-center"></i>
                    </a>
                   </div>
            </div>
        </div>
        <div class="col-md-4  gallary-container position-relative overflow-hidden">
            <img src="./assets/image/7.avif" class="img-fluid rounded-2">
            <div class="layer position-absolute text-white d-flex justify-content-center align-items-center">
                <div class="div">
                    <h2>island</h2>
                    <a href="https://twitter.com" target="_blank" class="text-info">
                        <i class="fa-brands fa-twitter fs-5 text-center pe-2 ps-3" target="_blank"></i>
                        <i class="fa-brands fa-youtube fs-5 text-center"></i>
                    </a>
                   </div>
            </div>
        </div>
        <div class="col-md-4  gallary-container position-relative overflow-hidden">
            <img src="./assets/image/8.avif" class="img-fluid rounded-2">
            <div class="layer position-absolute text-white d-flex justify-content-center align-items-center">
                <div class="div">
                    <h2>island</h2>
                    <a href="https://twitter.com" target="_blank" class="text-info">
                        <i class="fa-brands fa-twitter fs-5 text-center pe-2 ps-3" target="_blank"></i>
                        <i class="fa-brands fa-youtube fs-5 text-center"></i>
                    </a>
                   </div>
            </div>
        </div>

    </div>
</div>